**/target/

*.ipr
*.iws
*.project
.idea/
*.iml
.vscode/
*.log
.classpath
.project
.settings/

.DS_Store
Thumbs.db

*.log

*.class

.mvn/
!.mvn/wrapper/maven-wrapper.jar
.settings/
bin/
tmp/

*.jar
*.war

docker-compose.yml
docker-compose.override.yml
